<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GraduationProject"
        android:name=".WarthApp"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize"
            android:name=".MainLogRegActivity"/>

        <activity
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize"
            android:name=".hungry.AfterSelectFood" />

        <activity
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize"
            android:name=".RegisterALLActivity"/>

        <activity
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize"
            android:name=".chef.AfterLoginChefActivity"/>

        <activity
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize"
            android:name=".chef.LoginChefActivity" />

        <activity
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize"
            android:name=".ProgressIndicator" />

        <activity
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize"
            android:name=".Rating" />

        <activity
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize"
            android:name=".hungry.AfterLoginHungryActivity" />

        <activity
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize"
            android:name=".hungry.LoginHungryActivity"/>

    </application>
</manifest>